---
layout: default
title: Projects
---
<div class="intro">School and fun have led me to pursue many interesting projects. "Interesting" is a broad term. Sometimes I finish what I start, sometimes I don't. </div>

{% for post in site.categories.projects %}
<div class="project">
	
	<div class="projectpic" style="background-image: url(..{{post.thumb}})"></div>
  	<h1>
  		<!-- links to external page if one is defined -->
  		{% if post.external == blank or post.external == nil  %}
  		<a href="{{ post.url }}">{{ post.title }}</a>
  		{% else %}
  		<a href="{{ post.external }}">{{ post.title }}  &nbsp; <i class="icon-long-arrow-right"></i></a>
  		{% endif %}
  	</h1>
 	<!-- if the post is short enough, just show the whole thing -->
    {% if post.excerpt == post.content %}
      {{ post.content }}

    {% else %}
    <!-- hack to add a read more link within the excerpt -->
    {% capture postlink %}
    {{ post.url | append: "><i class='icon-long-arrow-right'></i> keep reading</a>" | prepend: "<a href="""" }}
    {% endcapture %}

    {% assign blurb = post.excerpt | append: postlink %} 
    
    {{ blurb }}
    {% endif %}
 	<br class="clearfloat">
</div>  
{% endfor %}
 