<nav>
<header>
  <h1>Hi.</h1>
  <a href="/">
    <img src="/logo.png" id="logo" alt="logo for cristen jones's website"/>
  </a>
  <h2>I'm <a href="/">{{ site.theme.name }}</a>.</h2>
  <hr/>
</header>

  <div class="currently">
  <p>Recent grad with big data visualizing dreams.</p>

  <p>Subjects that perk me up include urban planning, civic hacking, geography, information design, statistical analysis, text manipulation, subversion, social justice, front-end web design, and data science.</p>

  <p>More will be added here soon. Contact me via <a href="http://www.twitter.com/thecristen">Twitter</a> or via email at cristen at thejonesgroup.org.</p>
  </div>
  
  
    <ul class="links">
    <!-- This is my hack to highlight nav items based on matching the urls.. works on URLs that are deeper than 2nd level -->
    {% assign url = page.url | split: '/' %}
    {% assign url = url[1] %}
    {% assign url = url | prepend: '/' | append: '/' %}
    {% for link in site.navigation %}
      <li {% if url == link.url %}class="current"{% endif %}>
        <a href="{{ link.url }}"><i class="{{ link.icon }}"></i> {{ link.text }} 
          </a>
      </li>
    {% endfor %}
    </ul>
  <hr/>
  
  {% include social.html %}
</nav>