---
layout: default
title: Blog
---

<!-- This loops through the paginated posts -->
{% for post in site.categories.blog %}
{% for post in paginator.posts %}

<p class="meta">
  {{ post.date | date: "%B %d, %Y" }} 
  <a href="{{ post.url }}#disqus_thread"></a>
</p>

<h1 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h1>

<div id="post">
  {{ post.excerpt }}
  <a href="{{ post.url }}">&raquo; Continue reading</a>
</div>

<hr/> 

{% endfor %}
{% endfor %}
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>