body {
  font-size: 16px;
  background-color: white;
  color: #3B3050;
  font-family: "adelle", serif;
  font-weight: 300;
  line-height: 23px;
  margin: 0;
  border-top: 7px solid {{ site.theme.highlight_color }};
}

.smallheader {
    padding-top:20px;
    margin-bottom:-10px;
    display: none;
  }

.smallheader > #stalker  {
  float:right;
}

#menu-icon {
  display: hidden;
}

a:hover#menu-icon {

  background-color: #444;
  border-radius: 4px 4px 0 0;

}

h1, h2, h3, h4, h5, h6 {
  color: #181818;
  font-family: "source-sans-pro", sans-serif;
  font-weight: 700;
}

h1.title {
  font-weight: 900;
}

h1 {
  font-size: 32px;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  line-height: 30px;
}

h3 {
  font-size: 21px;
  line-height: 24px;
  margin: 1em 0;
}

ul {
  margin: 1em 0;
  list-style: disc;
}

a {
  color: {{ site.theme.highlight_color }};
  text-decoration: none;
  font-weight:600;
}

a:hover {
  color: {{ site.theme.highlight_color }};
  text-decoration: underline;
}

a:visited {
  color: #92BBE2;
}

div.currently {
  font-size: 14px;
  line-height:1.5;
}

div.intro {
  background-color:#EEE;
  padding:20px;
  text-align: center;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 20px;
}

ul.links {
  list-style-type:none;
  margin:0;
  padding:0;
}

ul.links a {
  display:block;
  padding:5px;
  line-height:1.25;
}

ul.links a:hover {
  background-color:#EEE;
}

ul.links li.current {
  background-color:#EEE;
}


ul.links li {
  margin-bottom: 5px;
  margin-top: 5px;
}

table {
  font-size: inherit;
  font: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.pics {
display: inline-block;
}

ul.posts {
  margin-top: 0;
  list-style-type: none;
  margin-bottom: 10px;
}

ul.posts li {
  line-height: 22px;
  font-size: 16px;
  margin-bottom: 0px;
}

ul.posts span {
  font-family: "source-sans-pro",sans-serif;
  color: #789;
  padding-right: 8px;
  font-size: 16px;
  font-weight: 400;
}

nav h1, nav h2 {
  text-align: center;
}

nav hr {
  margin-top: 10px;
  margin-bottom: 15px;
  border: dotted #ddd;
  border-width: 1px 0 0;
}

#social {
  margin-bottom: 10px;
  font-size: 13px;
}

#post pre {
  border: 1px solid #cba;
  background-color: #fed;
  padding: .5em;
  margin-bottom: 20px !important;
}

#post ul,
#post ol {
  margin-left: 1.35em;
}

#post code {
  border: 1px solid #cba;
  background-color: #fed;
  font-size: 85%;
  padding: 0 .25em;
}

#post pre code {
  border: none;
}

.sidebar {
  padding-top: 25px;
}

.sidebar p {
  font-weight: 300;
}

.sidebar a {
  font-weight: 700;
}

.content {
  border-left: 1px solid #DDD;
  padding-left: 40px;
  padding-top: 25px;
  min-height: 400px;
  float:right;
}

.aside {
  font-size: 75%;
  color: #666;
}

#home h2 {
  color: {{ site.theme.highlight_color }};
}

#logo {
  margin-bottom: 25px;
}

#stalker {
  display: inline-block;
  height: 18px;
  margin-left: 5px;
}

#stalker a {
  width: 25px;
  float: left;
}

#stalker i {
  font-size: 22px;
}

#stalker a:hover {
  text-decoration: none;
}

.home {
  font-size: 24px;
  float: right;
  color: #AAA;
}

.home:hover {
  text-decoration: none;
}

.footer {
  text-align: center;
  margin: 0px;
  margin-top:20px;
  width: 100%;
}

.footer p {
  font-size: 14px;
  font-weight:bold;
  margin:8px;
}

.footer .disclaimer {
  border-top: 4px solid #EEE;
  overflow: hidden;
}

.footer .disclaimer p {
  font-size: 80%;
  color: #666;
  font-weight:300;
}

.footnotes { 
  font-size: 14px;
  font-style: italic;
}

.icon-overlay {
  font-size: 16px !important;
  position: relative;
  bottom: 27px;
  left: 5px;
  color: white;
}


.project {
padding:10px;
font-size:14px;
}

.projectpic {
  background-repeat: no-repeat;
  width:200px;
  height:200px;
  background-size: cover;
  float:right;
  margin: 0px;
  margin-left:15px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.clearfloat {
  clear: both;
}
.pics {
  text-align:center;
}

.pagination {
  text-align:center;
  font-size: 16px;
  color: #666;
  margin-top:-10px;
  padding:5px;
  background-color: #EEE;
  display:block;
}

.post {
  margin-top:10px;
  margin-bottom:20px
  border-bottom: 1px solid #eee;
}

.post-item {
  padding: 10px 0px 20px 0px;
  margin-bottom: 10px;
  border-bottom: 1px dotted #ddd;
}

.essayheadline {
  font-style: italic;
}

div.essayheadline {
  font-style: italic;
  font-size:20px;
  margin-top:14px;
}

span.date {
  font-family: "source-sans-pro", sans-serif;
  font-size:80%;
}

div.excerpt p {
  margin-bottom:0;
}

.posttitle {
  margin-bottom:4px;
  margin-top:-4px;
}