---
layout: default
---
<div class="projectpic" style="background-image: url(http://localhost:4000{{page.thumb}})"></div>

<h1 class="posttitle">{{ page.title }} </h1>
<span class="date"><i class='icon-calendar'></i> &nbsp; {{ page.date | date: "%B %d, %Y" }}</span>


 	
  		<!-- links to external page if one is defined -->
  		{% if page.external == blank or page.external == nil  %}
  		{% else %}
  		<h3><a href="{{ page.external }}">External link &nbsp; <i class="icon-long-arrow-right"></i></a></h3>
  		{% endif %}
  	


<div class="post">

 

  {{ content }}
</div>